<div class="container">
  <%= form_for :doctor, url: admins_doctors_path do |f| %>
    <div class="box box-b my-0 is-size-4 content page-edit">
      <p>Ім'я:&nbsp;<%= f.text_field :name, class: "input" %></p>
      <p>Прізвище:&nbsp;<%= f.text_field :surname, class: "input" %></p>
      <p>Номер&nbsp;телефону:&nbsp;<%= f.text_field :phone_number, class: "input" %></p>
      <p>Пароль:&nbsp;<%= f.password_field :password, class: "input" %></p>
    </div>
    <div class="box box-t box-b my-0 has-background-light is-size-4 page-edit">
      <div class="content is-size-4 page-edit">
        <p>Категорія:&nbsp; <%= f.collection_select :category_id, Category.all, :id, :name %></p>
      </div>
      <div class="file has-name is-fullwidth">
        <p>Фотографія:&nbsp;</p><%= f.file_field :avatar_picture, class: "is-size-5"%>
      </div>
    </div>
    <div class="box box-t my-0 has-background-white-bis">
      <%= f.submit value: "Зберегти", class: 'button is-fullwidth mt-3' %>
    </div>
  <% end %>
</div>
