<div class="container mt-4">
  <div class="columns is-multiline is-mobile">
    <% @doctors.each do |doctor| %>
      <div class="column is-4 mb-3">
        <div class="box box-b my-0 has-text-centered">
          <p class="title">
            <%= doctor.name %>
            <%= doctor.surname %>
          </p>
          <p class="subtitle">
            <%= doctor.category_name %>
          </p>
        </div>
        <div class="box box-t my-0 has-background-light has-text-centered">
          <figure class="image is-4by5">
            <img src="<%= url_for(doctor.avatar_picture) %>" alt="image">
          </figure>
          <p class="subtitle mt-4">
            <%= doctor.phone_number %>
          </p>
          <% if user_signed_in? %>
            <% if !Record.where(doctor_id: doctor.id, user_id: current_user.id, status: true).empty? %>
              <p>Ви вже записані</p>
            <% elsif doctor.count_active_records >= 10 %>
              <p>У лікаря максимальна кількість записів</p>
            <% else %>
            <%= link_to 'Записатися', records_path(record: { doctor_id: doctor.id, user_id: current_user.id }),
                        method: :post, class: 'button is-fullwidth mt-3' %>
            <% end %>
          <% else %>
            <p>Увійдіть щоб записатися</p>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
